<form action="/answer" data-turbo="false" method="get" class="form-control">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Type your question here">
  <input type="submit" value="Ask!" class="btn btn-primary btn-m">
</form>
